/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	 font: inherit;
	vertical-align: baseline; 

} 
*{
    box-sizing: border-box;
    border: 1px solid grey;
    max-width: 100%;
}

 html{
    font-size: 100%;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
}

body{ 
    font-size:1.8rem;
    line-height: 1.5; 
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
    background-color:#FFFAFA;
} 

header{
    width: 100%;
    background-color: lightgrey;
    padding: 2%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-left: 8%;
}

nav{
    display: flex;
    flex-direction: row;
    padding-left: 3%;
}

.topsection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topsection img{
    flex-basis: 15%;
    width: 50%;
    /* padding-left: 4%; */
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 4%;
}

div.description p{
    font-size: 1rem;
    width: 75%;
}

div.description button{
    width: 20%;
    text-align: center;
}

section.row div.portfolio-element{
    flex-basis: 25%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.portfolio-element:first-child{
    padding-left: 0px;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 5%;
}

footer button{
    width: 15%;
}


.row {
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
    /* padding: 20px; */
}

.portfolio-element{
    text-align: center;
    padding: 8px
}

header button:nth-child(1){
    background-color: black;
    color: white;
}

button{
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: 5px 10px;
}

button:hover {
    background-color: black;
    color: white;
    border: white solid 1px;
}

button a{
    text-decoration: none;
    color: inherit;
}


@media(max-width:500px){
    button{
    display: flex;
    justify-content: center;
    padding: 0;

}

header{
    width: 100%;
    /* background-color: lightgrey; */
    padding: 2%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 35%;
    
}

nav button:nth-child(1){
    background-color: black;
    color: white;
}


a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
    padding: 5%;
}

a:visited {
    color:inherit;
    text-decoration: none;
}



.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description button{
    width: 35%;
    padding: 1.5% 0;
}

.topsection button{
    margin: 2%;
}

.topsection p{
    margin: 2% 0 2% 0;
    padding: 0 10%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}

.portfolio-element{
    flex-basis: 50%;
    padding: 5%;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 5%;
}

footer button{
    margin: 0 auto;
}
}

@media(max-width:800px){
    .description{
        justify-content: center;
    }
}
